body {
  font-family: sans-serif ;
  padding: 0;
  margin: 0; 
}

.juanso-theme section {
  padding: 100px 50px ; 
}

.juanso-theme .profile--pic:hover{
  opacity: 0.5;
}

.juanso-theme header{
  padding-top: 25px;
  text-align: center;
  background-color: #EEE;
  padding: 0; 
}
/*
  De esta manera, aplicas los estilos solamente a la imagen.
  Saludos, Morfeo.
*/
.juanso-theme header .header--profile {
  width: 250px;
  height: 250px;
  border-radius: 100%; /* Hace el div redondo */
  border: 5px dotted black;
  box-sizing: border-box;
  margin: 0 auto;
}

header .header--profile .profile--pic {
  width: 100%;  
  height: 100%;
  border-radius: 100%;
  background-color: #EEE;
  background-image: url('../Juanso-pc.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.juanso-theme .navbar{
  height: 10%; 
  width: 100%;
  background-attachment: fixed;
  background-color: black;
  opacity: 0.15;
  font-size: 20px;
  text-align: right;
  position: sticky;
  top:0; 
}

.juanso-theme .navbar ul{
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 20px 20px;
}

.juanso-theme .navbar a:hover{
  background-color: gray;
  text-decoration: none;
}

@media screen and (max-width: 500px){
  .navbar a{
    float: none;
    display: block;
  }
}

.juanso-theme #introduction h1 {
  font-size: 45px;
}

.juanso-theme #description a:hover{
  color: black;
}

.juanso-theme a:visited{
  color: goldenrod;
}

.juanso-theme #introduction p {    
  text-align: center;
  font-size: 30px;
}

.juanso-theme #description p{
  font-size: 30px;
}

.juanso-theme #experience div {
  border-bottom: solid;
}

.juanso-theme #experience {
  background-color: #e4e719;
  color: white;
}

.juanso-theme #experience h2{
  text-align: center;
  font-size: 100px;
  text-transform: uppercase;
}

.juanso-theme #experience h4{
  font-size: 50px;
  margin-bottom: 25px;
}

.juanso-theme #experience p {
  font-size: 30px;
}

.juanso-theme #experience div:last-of-type {
  border-bottom: none;
}

.juanso-theme #experience div:nth-child(odd){
  text-align: right;
}

.juanso-theme #experience a:hover{
  color: black;
}

.juanso-theme #educacion div {
  border-bottom: solid;
}

.juanso-theme #educacion {
  background-color: white;
  color: black;
  /* background-image: url(../gorro-graduacion.png);
  background-attachment: fixed;
  background-size: 120px 90px;
 */
}

.juanso-theme #educacion h2{
  text-align : center;
  font-size: 100px;
  text-transform: uppercase;
}

.juanso-theme #educacion h4{
  font-size: 50px;
  margin-bottom: 25px;
}

.juanso-theme #educacion p{
  font-size: 30px;
}

.item-right{
  text-align: right;
}

.juanso-theme #educacion div:last-of-type {
  border-bottom: none;
}

.juanso-theme #habilidades {
  background: #e4e719;
  color: white;
}

.juanso-theme #habilidades h4 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 25px;
}

.juanso-theme #habilidades h2{
  text-align: center;
  font-size: 100px;
}

.juanso-theme #herramientas ul li{
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.juanso-theme #idio-intereses  {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  position: center;

}

.juanso-theme #idio-intereses h2{
  font-size: 100px;
}

.juanso-theme #idio-intereses ul li {
  font-size: 35px;
  vertical-align: -webkit-baseline-middle;
}
/*
Easter Egg Matrix Team
*/
.matrix-theme{
  background: url("https://media.giphy.com/media/rWY9ySfjytitq/giphy.gif") repeat left top;
  background-size: contain;
  background-color: black;
  color: lime;
  background-attachment: fixed;
}

.matrix-theme header .header--profile {
  width: 250px;
  height: 250px;
  border-radius: 100%; /* Hace el div redondo */
  border: 5px dotted black;
  box-sizing: border-box;
  margin: 0 auto;
}

.matrix-theme #introduction p:nth-child(2){
  color: wheat;
}

/* .matrix-theme div p:nth-child(3) {
  color: white;
}   */

.matrix-theme .profile--pic:hover {
  border-color: lime;
  opacity: 0.5;
}

.matrix-theme h2 {
  color: white;
  font-size: 100px;
  width: 100%;
}

.matrix-theme h4 {
  font-size: 50px;
}

.matrix-theme #introduction h1{
  font-size: 45px;
}

.matrix-theme #introduction {
  text-align: center;
}

.matrix-theme p{
  font-size: 30px;
}

.matrix-theme a:visited {
  color: red;
}

.matrix-theme section {
  padding: 80px;
  background: black;
  opacity: 0.75;
  border: none;
  margin: 60px;
}

.matrix-theme #idio-intereses ul li {
  font-size: 40px;
}

.matrix-theme #idio-intereses  {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  position: center;
}

.matrix-theme #herramientas ul li{
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.matrix-theme #habilidades h4 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 25px;
}

.matrix-theme #habilidades h2{
  text-align: center;
  font-size: 100px;
}